<div class="flex justify-center items-center ">
<div class="overflow-y-auto overflow-x-hidden  top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full"
    id="add-product-modal">
    <div class="relative px-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-2xl shadow-lg">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-5 rounded-t border-b">
                <h3 class="text-xl font-semibold">
                    Add product
                </h3>
                
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <form (submit)="handleAddProduct()">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <label for="product-name" class="block mb-2 text-sm font-medium text-gray-900">Product
                                Name</label>
                            <input type="text" name="name" id="name"
                                class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5"
                                placeholder="tên ”" required [(ngModel)] = "product.name">
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="category" class="block mb-2 text-sm font-medium text-gray-900">Category</label>
                            <input type="text" name="category" id="category"
                                class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5"
                                placeholder="danh mục" required [(ngModel)] = "product.category">
                        </div>
                        
                        <div class="col-span-6 sm:col-span-3">
                            <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Price</label>
                            <input type="number" name="price" id="price"
                                class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5"
                                placeholder="giá" required [(ngModel)] = "product.price">
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Image</label>
                            <input type="text" name="image" id="image"
                                class="shadow-lg-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5"
                                placeholder="ảnh" required [(ngModel)] = "product.image">
                        </div>
                        <div class="col-span-full">
                            <label for="product-details" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                            <textarea id="description" rows="6" name="description"
                                class="block p-4 w-full text-gray-900 border border-gray-300 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300"
                                placeholder="mô tả" [(ngModel)] = "product.description"></textarea>
                        </div>
                    </div>
                    <!-- <div class="flex justify-center items-center mt-4 w-full">
                        <label
                            class="flex flex-col w-full h-32 rounded border-2 border-gray-300 border-dashed cursor-pointer hover:bg-gray-50">
                            <div class="flex flex-col justify-center items-center pt-5 pb-6">
                                <svg class="w-10 h-10 text-gray-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
                                </svg>
                                <p class="py-1 text-sm text-gray-600">Tải ảnh sản phẩm</p>
                                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                            </div>
                            <input type="file" class="hidden" />
                        </label>
                    </div> -->
                    <div class="p-6 rounded-b border-t border-gray-200 text-center">
                        <button
                            class="text-white font-medium text-sm px-5 py-2.5 text-center rounded-lg bg-gradient-to-br from-pink-500 to-voilet-500 shadow-md shadow-gray-300 hover:scale-[1.02] transition-transform"
                            type="submit">Add product</button>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            

        </div>
    </div>
</div>
</div>

